<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elasticsearch Veri Ekle</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            padding-top: 50px;
        }
        .input-field {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 10px;
        }
        .submit-button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Trendyol Verisi Ekle</h1>
        <input type="text" id="price" class="input-field" placeholder="Fiyat">
        <input type="text" id="name" class="input-field" placeholder="Ürün Adı">
        <input type="text" id="title" class="input-field" placeholder="Satıcı">
        <button onclick="addData()" class="submit-button">Ekle</button>
        <div id="message"></div>
    </div>

    <script>
        function addData() {
            const price = document.getElementById('price').value;
            const name = document.getElementById('name').value;
            const title = document.getElementById('title').value;

            const data = {
                Price: price,
                Name: name,
                Title: title
            };

            fetch('/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                const messageDiv = document.getElementById('message');
                if (data.error) {
                    messageDiv.innerHTML = `<p style="color: red;">${data.error}</p>`;
                } else {
                    messageDiv.innerHTML = `<p style="color: green;">${data.message}</p>`;
                }
            })
            .catch(error => {
                console.error('Veri eklerken bir hata oluştu:', error);
            });
        }
    </script>
</body>
</html>
